<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}">
    </head>

    <body class="d-flex flex-column min-vh-100">

        <header th:replace="~{general/fragmentos :: header}">
        </header>

        <a class="logo nav-link" href="/">
            TechShop
        </a>

        <main class="flex-grow-1">

            <div class="container mt-4">

                <div class="row">

            <li class="nav-menu-item">
                <a class="nav-link menu-item" href="/iframes">
                    iFrames
                </a>
            </li>

                    <aside class="col-md-3">

    </nav>
</header>


        <aside>

                        <h1>Mis Autos</h1>

                        <p>
                            Los autos que en mi subconsciente llevo todos los dias...
                        </p>

                    </aside>


                    <section class="col-md-9">

                        <h2>Lunes</h2>

                        <img th:src="@{/img/lunes.jpg}"
                             class="img-fluid mb-4"
                             width="300"
                             alt="Auto del lunes"/>


                        <h2>Martes</h2>

                        <img src="https://www.record.com.mx/sites/default/files/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg"
                             class="img-fluid mb-4"
                             width="300"
                             alt="Auto del martes"/>

                    </section>

                </div>

            </div>

        </main>

        <footer th:replace="~{general/fragmentos :: footer}">
        </footer>

    </body>

</html>