<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body class="d-flex flex-column min-vh-100">

        <!-- BARRA BLANCA SUPERIOR -->
        <header th:replace="~{general/fragmentos :: header}"></header>


        <!-- FRANJA VERDE PEQUEÑA -->
        <div class="bg-success text-white">

            <div class="container text-center py-3">

                <h2 class="mb-1">
                    [[#{aplicacion.titulo}]]
                </h2>

                <p class="fs-5 mb-0">
                    Esta es la tienda en línea del curso
                </p>

            </div>

        </div>


        <!-- ESPACIO BLANCO QUE EMPUJA EL FOOTER -->
        <main class="flex-grow-1 bg-white">
        </main>


        <!-- FOOTER -->
        <div th:replace="~{general/fragmentos :: footer}"></div>

    </body>

</html>