<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}">
    </head>

    <body>

        <header th:replace="~{general/fragmentos :: header}">
        </header>

        <a class="logo nav-link" href="/">
            TechShop
        </a>

        <div class="container mt-4">

            <div class="row">

                <aside class="col-md-3">

            <li class="nav-menu-item">
                <a class="nav-link menu-item" href="/iframes">
                    iFrames
                </a>
            </li>

        </ul>

    </nav>
</header>


        <aside>

                    <h1>Multimedia</h1>

                    <p>
                        Incorporación de recursos multimedia en el sitio web...
                    </p>

                </aside>


                <section class="col-md-9">

                    <h2>Uso de Multimedia</h2>


                    <article class="mb-4">

                        <h3>Música Celta</h3>

                        <audio controls>

                            <source src="/audio/musica.mp3"
                                    type="audio/mpeg">

                            Your browser does not support the
                            <code>audio</code> tag.

                        </audio>

                    </article>


                    <article>

                        <h3>Película de Acción</h3>

                        <video width="320"
                               height="240"
                               controls>

                            <source src="/videos/torpedo.mp4"
                                    type="video/mp4">

                            Your browser does not support the
                            <code>video</code> tag.

                        </video>

                    </article>

                </section>

            </div>

        </div>

            Todos los Derechos Reservados TechShop 2025 &COPY;

        <footer th:replace="~{general/fragmentos :: footer}">
        </footer>

    </body>

</html>